<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.avatargroup.yachtchat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        tools:node="merge">
        <activity android:name=".ChatRoomActivity"></activity>
        <activity android:name=".EntranceActivity">
        </activity>
    </application>
</manifest>